@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
}

.header-bg {
    background-image: url(./image/flat-lay-abstract-composition-with-innovation-elements\ 1.png);
    background-size: cover;
    background-position: center;
}



.container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.header-text {
    padding: 190px 0px;
    text-align: end;
}

.header-text h2 {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    line-height: normal;

}

.header-text p {

    line-height: 25px;
    margin-top: 24px;
}

.header-text button {
    padding: 21px 26px;
    background-color: #F15B22;
    color: #fff;
    border: none;
    margin-top: 32px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hero-area-1-contant {
    display: flex;
    align-items: center;
    padding: 131px 0;
}

.hero-area-1-text {
    margin-left: 100px;
}

.hero-area-1-text h2 {
    font-size: 40px;
    font-weight: 700;
}

.hero-area-1-text p {
    line-height: 26px;
    margin-top: 24px;
}

.hero-area-1-text i {
    color: #16D887;
    margin-right: 10px;
}

.hero-area-1-text a {
    text-decoration: none;
}

.hero-area-1-text ul {
    margin-top: 16px;
}

.hero-area-1-text li {
    margin-top: 8px;
}

.hero-area-1-image {
    position: relative;
    z-index: 2;
}

.hero-area-1-image::after {
    position: absolute;
    width: 527.929px;
    height: 527.929px;
    background-color: #F15B2233;
    content: "";
    bottom: 4px;
    left: 22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.hero-area-2-contant {
    text-align: center;
    padding: 100px 0;
}

.hero-area-2-logo {
    display: flex;
    justify-content: space-between;
}

.hero-area-2-taitle h2 {
    font-size: 40px;
    font-weight: 700;
}

.hero-area-2-logo {
    padding: 100px 0;
}

.hero-area-2-logo h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
}

.hero-area-2-logo p {
    margin-top: 16px;
}

.hero-area-3-img {
    background-image: url(./image/Rectangle\ 3.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
}

.hero-area-3-text {
    padding: 100px;
    text-align: start;
}

.hero-area-3-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.hero-area-3-text button {
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 24px;
}

.hero-area-3-text button:hover {
    background-color: #F15B22;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

}

.hero-area-3-img {
    position: relative;
}

.hero-area-3-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./image/Rectangle\ 4.png);
    background-size: cover;
    background-position: center;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer-contant {
    background-color: #151414;
}

.footer-item {
    display: flex;
    padding: 80px;
    margin-top: 200px;
}

.footer-text {
    margin-left: -80px;
}

.footer-text-2 {
    margin-right: -90px;
}



.footer-text h2 {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}

.footer-text p {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.footer-contant a {
    display: inline-block;
    text-decoration: none;
    margin: 16px 0;
    color: #FFFFFF;
}

.icon a {
    border: 1px solid #fff;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 46px;
    background-color: #FFFFFF;
}

.icon a .fa-brands.fa-facebook {
    color: #006AFF;
}

.icon a .fa-brands.fa-twitter {
    color: #1DA1F2;
}

.icon a .fa-brands.fa-youtube {
    color: #FF0000;
}


.footer-text-2 {
    margin-left: 331px;
}

.footer-text-2 h2 {
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-text-2 input {
    width: 325px;
    height: 64px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    margin-top: 31px;
    padding: 20px;
}

.footer-text-2 button {
    width: 170px;
    height: 64px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 16px;
    color: #f15b22;
    border: none;
}

.footer-text-2 button:hover {
    background-color: #F15B22;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}